<h1>Board Games</h1>

<% @board_games.each do |board_game| %>
  <h2><%= board_game.name %></h2>
  <p>
    <strong>Rating:</strong>
    <%= board_game.rating %>
  </p>
  <p>
    <strong>Category:</strong>
    <%= board_game.category.name %>
  </p>
  <p>
    <%= link_to 'View Details', board_game %>
  </p>
<% end %>
